<div class="col-md-2 float-start">
  <main>
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100 w-100">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <!-- add logo here -->
          <!-- <svg class="me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
          <span class="fs-4">CMIYC</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a routerLink="/allUsers" class="nav-link text-white">
              <i class="bi-person-square me-2"></i>
              Manage Users
            </a>
          </li>
          <li>
            <a routerLink="/allSchemas" class="nav-link text-white">
              <i class="bi-table me-2"></i>
              Manage Schemas
            </a>
          </li>
        </ul>
        <hr>
        <button type="button" class="btn btn-outline-light">Log out</button>
      </div>
  </main>
</div>








