@import url('http://fonts.cdnfonts.com/css/modern-vision');

body {
  background: #fdfdfd;
}

.text-gray-600 {
  font-family: 'Modern Vision', sans-serif;
  color: #6c757d;
  background: #fdfdfd;
}

h1 {
  font-family: 'Modern Vision', sans-serif;
  background: #fdfdfd;
}

a {
  font-family: 'Modern Vision', sans-serif;
  background: #fdfdfd;
}
