@import url('http://fonts.cdnfonts.com/css/modern-vision');

.text-gray-600 {
  font-family: 'Modern Vision', sans-serif;
  color: #6c757d
}

h1 {
  font-family: 'Modern Vision', sans-serif;
}

a {
  font-family: 'Modern Vision', sans-serif;
}

.img-fluid {
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
