<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
</head>

<body>
<div id="error">

  <div class="error-page container">
    <div class="col-md-8 col-12 offset-md-2">
      <img class="img-error" src="/assets/500.svg"  style="max-width: 100%; height: auto;display: block;
    margin-left: auto;
    margin-right: auto;" alt="Not Found">
      <div class="text-center">
        <h1 class="error-title">System Error</h1>
        <p class="fs-5 text-gray-600">The website is currently unavailable. Try again later or contact the
          developer.</p>
        <a href="index.html" class="btn btn-lg btn-outline-primary mt-3">Go Home</a>
      </div>
    </div>
  </div>

</div>

</body>

</html>
