<div>
  <app-sidebar></app-sidebar>

  <div class="d-flex flex-column flex-shrink-0 border-start border-1">
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">
            <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#createSchemaModal">
              <i class="bi bi-plus-lg" style="font-size: 1rem;"></i>
            </button>
          </th>
          <th scope="col">Name</th>
          <th scope="col">Uploaded at</th>
          <th scope="col">Selected</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody *ngIf="schemas.length > 0">
        <tr *ngFor="let schema of schemas; let i = index;" [ngClass]="schema.file.selected ? 'table-primary' : ''">
          <th scope="row" class="align-middle px-3">{{i + 1}}</th>
          <td class="align-middle">{{schema.file.name}}</td>
          <td class="align-middle">{{schema.file.getFormattedDate()}}</td>
          <td>
            <div class="form-check form-switch">
              <input [disabled]="changingSelectedSchema || schema.file.selected" [checked]="schema.file.selected"
                     (change)="makeSchemaSelected(schema)" class="form-check-input" type="checkbox">
            </div>
          </td>
          <td>
            <div>
              <button (click)="selectedSchema = i" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#viewSchemaModal">
                View
                <i class="bi bi-eye"></i>
              </button>
              <button class="btn btn-danger mx-2" (click)="deleteSchema(schema, i)"><i class="bi bi-trash3"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <app-spinner *ngIf="schemas.length == 0" [headerHeight]="80"></app-spinner>

    <div class="modal fade" id="createSchemaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add schema</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-admin-create-schema-form></app-admin-create-schema-form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="viewSchemaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <admin-view-schema [schema]="schemas[selectedSchema]"></admin-view-schema>
        </div>
      </div>
    </div>
  </div>
</div>
