<div class="container">
  <app-header></app-header>
  <div class="row">
    <nav class="nav nav-tabs mt-3">
      <a routerLink="/userSearch" routerLinkActive="active" class="nav-item nav-link">
        <i class="bi-house-door"></i> Search
      </a>
      <a routerLink="/searchResponse" routerLinkActive="active" class="nav-item nav-link">
        <i class="bi-person"></i> Search Result
      </a>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="p-5 mb-4 border bg-light">
      <h3 class="d-flex justify-content-center ps-3 mb-3">
        Driver License Query
      </h3>
      <div class="m-4 ps-5"></div>
      <div class="">
        <form class="searchForm" method="post" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row mb-4 col-lg-6 offset-lg-3">
            <label for="inputFirstName" class="col-form-label col-sm-3 col-lg-3">First Name:</label>
            <div class="col-sm-9">
              <input type="text" formControlName="firstName" class="form-control col-sm-8 col-lg-9" id="inputFirstName"
                placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" (ngModelChange)="onTextChange()"/>
              <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback col-sm-8 col-lg-9">
                <div *ngIf="f['firstName'].errors['minlength']">
                  First Name must be at least 2 characters
                </div>
                <div *ngIf="f['firstName'].errors['maxlength']">
                  First Name must not exceed 20 characters
                </div>
                <div *ngIf="f['firstName'].errors['pattern']">
                  First Name must start with a capital letter, may contain lowercase, uppercase letters and "-"
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-4 col-lg-6 offset-lg-3">
            <label for="inputLastName" class="col-form-label col-sm-3 col-lg-3">Last Name:</label>
            <div class="col-sm-9">
              <input type="text" formControlName="lastName" class="form-control col-sm-8 col-lg-9" id="inputLastName"
                placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" (ngModelChange)="onTextChange()"/>
              <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback col-sm-8 col-lg-9">
                <div *ngIf="f['lastName'].errors['minlength']">
                  Last Name must be at least 2 characters
                </div>
                <div *ngIf="f['lastName'].errors['maxlength']">
                  Last Name must not exceed 20 characters
                </div>
                <div *ngIf="f['lastName'].errors['pattern']">
                  Last Name must start with a capital letter, may contain lowercase, uppercase letters and "-"
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-4 col-lg-6 me-auto ms-auto">
            <label for="inputBirthDate" class="col-form-label col-sm-3 col-md-3 col-lg-3">Birth Date:</label>
            <div class="col-sm-9">
              <input type="date" formControlName="birthDayDate" class="form-control col-sm-8 col-lg-9"
                id="inputBirthDate" lang="en" (ngModelChange)="onTextChange()">
            </div>
          </div>
          <div class="row mb-4 col-lg-6 me-auto ms-auto">
            <label for="inputBirthDate" class="col-form-label col-sm-3 col-lg-3">Sex:</label>
            <div class="col-sm-9">
              <select class="form-select" formControlName="sex" aria-label="Default select example" (ngModelChange)="onTextChange()">
                <option selected value="" selected>Choose gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-lg-3 me-auto ms-auto ps-3" [formGroup]="apis">
              <div class="form-check form-check-inline me-0">
                <input type="checkbox" formControlName="api1" class="form-check-input" name="API1" id="checkApi1" hidden>
                <label class="form-check-label">API 1</label>
              </div>
              <div class="form-check form-check-inline me-0">
                <input type="checkbox" formControlName="api2" class="form-check-input" name="API2" id="checkApi2" hidden>
                <label class="form-check-label">API 2</label>
              </div>
              <div class="form-check form-check-inline me-0">
                <input type="checkbox" formControlName="api3" class="form-check-input" name="API3" id="checkApi3" hidden>
                <label class="form-check-label">API 3</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col"></div>
            <button type="submit" class="btn btn-primary col-2" [disabled]="!apis.get('api1')?.value && !apis.get('api2')?.value && !apis.get('api3')?.value">
              Submit
            </button>
            <div class="col"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
