<form method="post" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
  <div class="row mb-4" *ngFor="let field of fieldData let i = index;">
    <div class="col-lg-2 col-3 offset-lg-2">
      <label for="input-{{i}}" class="lead">{{field.normalizedName}}: </label>
    </div>
    <div class="col">
      <input *ngIf="!field.components.length && !field.dataset" formControlName="{{field.field.name}}" class="form-control"
             id="input-{{i}}" placeholder="{{field.field.description}}" [ngClass]="{'is-invalid': getErrors(field.field).length}"
             [maxLength]="field.field.maxLength" type="{{field.inputType}}"
      />

      <select *ngIf="field.dataset" class="form-select" formControlName="{{field.field.name}}" id="input-{{i}}">
        <option *ngFor="let key of field.dataset.keys(); let i = index;" [value]="key">{{field.dataset.values[key]}} {{key ? '(' + key + ')' : ''}}</option>
      </select>

      <div class="input-group" *ngIf="field.components">
        <input *ngFor="let component of field.components" placeholder="{{component.normalizedName}}"
               class="form-control" id="input-component-{{component.component.name}}" [maxLength]="field.field.maxLength"
               type="{{component.inputType}}"
        />
      </div>
      <div *ngIf="getErrors(field.field).length" class="invalid-feedback">
        <div *ngFor="let error of getErrors(field.field)">{{error}}</div>
      </div>
    </div>
    <div class="d-none d-lg-block col-2"></div>
  </div>

  <div class="row">
    <div class="col"></div>
    <button type="submit" class="btn btn-primary col-2">Submit</button>
    <div class="col"></div>
  </div>
</form>
