html,
body {
  height: 100%;
}

.max-height {
  max-height: 58px;
}

.form-signin {
  width: 100%;
  max-width: 520px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-wrap{
  position: relative;
}
.login-wrap:before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url(../../assets/images/back-ground-logo.svg) ;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.login-content{
  position: relative;
}
