<div class="container-fluid">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg> -->
      <span class="fs-4">CMIYC</span>
    </a>

    <div class="col-md-3 text-end float end">
      <button type="button" class="btn btn-primary">Log out</button>
    </div>
  </header>
</div>
