<header
  class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">

  <div class="row">
    <a href="/" class="col-auto mb-2 mb-md-0 text-dark text-decoration-none">
      <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg> -->
      <span class="fs-4">CMIYC</span>
    </a>

    <div *ngIf="isUserAdmin" class="col-auto">
      <a routerLink="/users" class="nav-link">
        <i class="bi-person-square"></i>
        Manage Users
      </a>
    </div>

    <div *ngIf="isSchemaAdmin" class="col-auto">
      <a routerLink="/schemas" class="nav-link">
        <i class="bi-table"></i>
        Manage Schemas
      </a>
    </div>
  </div>

  <div class="nav nav-item row">
    <span class="py-2 mr-3 col-auto">Hello, <b>{{userName}}</b></span>

    <button type="button" class="btn btn-primary col-auto" (click)="isLogout()">
      <i class="bi bi-door-closed-fill me-2 mb-2"></i>
      Log out
    </button>
  </div>

</header>
