<div>
  <app-sidebar></app-sidebar>
  <div class="d-flex flex-column flex-shrink-0 border-start border-1">
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">
            <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalWindow">
              <i class="bi bi-plus-lg" style="font-size: 1rem;"></i>
            </button>
          </th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
          <th scope="col">Is active</th>
          <th scope="col">Roles</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
        let i = index" [class.active]="i == i">
          <th scope="row" class="align-middle px-3">{{i+1}}</th>
          <td class="align-middle">{{user.firstName}}</td>
          <td class="align-middle">{{user.lastName}}</td>
          <td class="align-middle">{{user.email}}</td>
          <td class="align-middle">
            <user-is-active-toggle
              [userId]="user.id" [isActive]="user.active" [isDisabled]="user.isUserAdmin"
              (onChange)="onUserActiveChange(user.id, $event)"
            ></user-is-active-toggle>
          </td>
          <td>
            <div class="form-check form-switch form-check-inline">
              <input class="form-check-input" style="margin-top: 10px;" type="checkbox" disabled
                     role="switch" id="user-admin-toggle-{{user.id}}" [checked]="user.isUserAdmin ? 'checked': null">
              <label class="form-check-label " style="margin-top: 6px;" for="user-admin-toggle-{{user.id}}">User Manager</label>
            </div>

            <div class="form-check form-switch form-check-inline">
              <input class="form-check-input" style="margin-top: 10px;" type="checkbox" disabled
                     role="switch" id="schema-admin-toggle-{{user.id}}" [checked]="user.isSchemaAdmin ? 'checked': null">
              <label class="form-check-label" style="margin-top: 6px;" for="schema-admin-toggle-{{user.id}}">Schema Manager</label>
            </div>

            <div class="form-check form-switch form-check-inline">
              <input class="form-check-input" style="margin-top: 10px;" type="checkbox" disabled
                     role="switch" id="user-toggle-{{user.id}}" [checked]="user.isUser ? 'checked': null">
              <label class="form-check-label" style="margin-top: 6px;" for="user-toggle-{{user.id}}">User</label>
            </div>
          </td>
          <td>
            <a  class="btn btn-warning me-2" type="button" data-bs-toggle="modal" data-bs-target="#modalUpdateWindow"
                (click)="onEdit(user.id,user.firstName, user.lastName,user.email,user.isUserAdmin,user.isSchemaAdmin,user.isUser)">
              <i class="bi bi-vector-pen "></i>
            </a>
            <a  class="btn btn-danger" type="button" (click)="onDelete(user.id, user.firstName, user.lastName)" >
              <i class="bi bi-trash3"></i>
            </a>
          </td>
        </tr>
      </tbody>

    </table>
    <div  class="d-flex justify-content-center">
      <pagination-controls
        [autoHide]="true"
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)">
      </pagination-controls>
      <!--selection amount of items per page-->
      <!--<div class="d-flex flex-row-reverse bd-highlight mb-2">
        <div class="p-2 bd-highlight">
          <select (change)="onTableSizeChange($event)" class="custom-select">
            <option *ngFor="let size of tableSizes" [ngValue]="size">
              {{ size }}
            </option>
          </select>
        </div>
      </div>-->
    </div>
    <!-- Modal for new user-->
    <div class="modal fade" id="modalWindow" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Add user</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-admin-user-form></app-admin-user-form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for update-->
    <div class="modal fade" id="modalUpdateWindow" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabelUpdate">Update user</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-admin-user-update-form [firstNameToForm]="firstNameToUpdate" [lastNameToForm]="lastNameToUpdate"
            [emailToForm]="emailToUpdate" [isUserAdminToForm]="isUserAdminToUpdate"
                [idToForm]="idToUpdate" [isSchemaAdminToForm]="isSchemaAdminToUpdate"
            [isUserToForm]="isUserToUpdate"></app-admin-user-update-form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
