<div class="confirm-register vw-100 vh-100">
  <main class="form-signin w-100 m-auto">
    <div class="card mx-4">
      <div class="card-body p-4">
        <form>
          <h1 class="h3 mb-3 fw-normal">Register</h1>
          <h6 class="h6 mb-3 fw-normal text-muted">Enter and confirm your password to finish registration.</h6>
          <div class="form-floating">
            <input type="email" readonly class="form-control" id="floatingEmail" placeholder="email@example.com" disabled>
            <label for="floatingEmail">email@example.com</label>
          </div>
          <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating">
              <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm password">
              <label for="floatingConfirmPassword">Confirm password</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Finish</button>
        </form>
      </div>
    </div>
  </main>
</div>
