<div class="confirm-register vw-100 vh-100">
  <main class="form-signin w-100 m-auto">
    <div class="card mx-4">
      <div class="card-body p-4">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h1 class="h3 mb-3 fw-normal">Register</h1>
          <h6 class="h6 mb-3 fw-normal text-muted">Enter and confirm your password to finish registration.</h6>
          <div class="form-floating">
            <input type="email" readonly class="form-control" id="floatingEmail" placeholder="{{email}}" disabled>
            <label for="floatingEmail">{{email}}</label>
          </div>
          <div class="form-floating">
            <input type="password" formControlName="password" class="form-control" id="floatingPassword"
                   placeholder="Password" [ngClass]="{ 'is-invalid': submitted && password.errors }">
            <label for="floatingPassword">Password</label>
            <div *ngIf="submitted && password.errors" class="invalid-feedback mb-2">
              <div *ngIf="password.errors['required']">Password is required</div>
              <div *ngIf="password.errors['minlength']">
                Password must be at least 8 characters
              </div>
              <div *ngIf="password.errors['maxlength']">
                Password must not exceed 40 characters
              </div>
              <div *ngIf="password.errors['pattern']">
                Password should contain one number,one lowercase letters, one uppercase letters, and one special
                character
              </div>
            </div>
          </div>
          <div class="form-floating">
            <input type="password" formControlName="confirmPassword" class="form-control" id="floatingConfirmPassword"
                   placeholder="Confirm password"
                   [ngClass]="{ 'is-invalid': submitted && passwordConfirm.errors }">
            <label for="floatingConfirmPassword">Confirm password</label>
            <div *ngIf="submitted && passwordConfirm.errors" class="invalid-feedback mb-2">
              <div *ngIf="passwordConfirm.errors['required']">
                Confirm Password is required
              </div>
              <div *ngIf="passwordConfirm.errors['matching']">
                Confirm Password does not match
              </div>
            </div>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Finish</button>
        </form>
      </div>
    </div>
  </main>
</div>
