<div class="confirm-register vw-100 vh-100 login-wrap">
  <main class="form-signin w-100 m-auto login-content">
    <div>
      <div class="card-body p-4">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h1 class="h3 mb-3 fw-normal">Register</h1>
          <h6 class="h6 mb-3 fw-normal ">Enter and confirm your password to finish registration.</h6>
          <h6 class="h6 mb-3 fw-normal text-danger">{{errorMessage}}</h6>

          <div class="form-floating">
            <input type="password" formControlName="password" class="form-control"
                   id="floatingPassword" placeholder="Password" autocomplete="new-password"
                   [ngClass]="{
                    'is-invalid': (submitted || password.value.length) && password.errors,
                    'is-valid': password.value.length && !password.errors
                    }">
            <label for="floatingPassword">Password</label>
            <div *ngIf="password.errors" class="invalid-feedback">
              <div *ngIf="password.errors['minlength']">
                Password must be at least 8 characters
              </div>
              <div *ngIf="password.errors['pattern'] && !password.errors['minlength']">
                Password should contain one number,one lowercase letters, one uppercase letters, and one special
                character
              </div>
              <div *ngIf="password.errors['maxlength']">
                Password must not exceed 40 characters
              </div>
            </div>
          </div>

          <div class="form-floating">
            <input type="password" formControlName="confirmPassword" class="form-control" id="floatingConfirmPassword"
                   placeholder="Confirm password"
                   [ngClass]="{
                    'is-invalid': (submitted || confirmPassword.value.length) && confirmPassword.errors,
                    'is-valid': confirmPassword.value.length && !confirmPassword.errors
                    }">
            <label for="floatingConfirmPassword">Confirm password</label>
            <div *ngIf="confirmPassword.errors" class="invalid-feedback mb-2">
              <div *ngIf="confirmPassword.errors['required']">
                Confirm password is required
              </div>
              <div *ngIf="confirmPassword.errors['matching']">
                Confirm Password does not match
              </div>
            </div>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Finish</button>
        </form>
        <div class="mt-2">
          <re-captcha
            (resolved)="onCaptchaResolved($event)"
            name="captcha" ngDefaultControl
            required
            siteKey="6LcxlA8gAAAAAJnRPMXjXqBHIAzluY9g-CkWAxH8"
          ></re-captcha>
        </div>
      </div>
    </div>
  </main>
</div>

